body{
margin:0;
font-family:Arial;
background:linear-gradient(180deg,#2a6df4,#1b4ec9);
color:white;
}

header{
text-align:center;
padding:20px;
}

.container{
padding:15px;
}

.card{
background:white;
color:black;
border-radius:15px;
padding:15px;
margin-top:10px;
}

button{
background:#2a6df4;
color:white;
border:none;
padding:10px;
border-radius:8px;
margin-top:10px;
width:100%;
}

input{
width:100%;
padding:10px;
margin-top:8px;
border-radius:8px;
border:1px solid #ccc;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
}

.icon{
background:#f5f5f5;
border-radius:10px;
padding:20px;
text-align:center;
font-weight:bold;
}

.bottomnav{
position:fixed;
bottom:0;
width:100%;
background:white;
display:flex;
justify-content:space-around;
padding:10px;
color:black;
}
